distlib==0.3.6
exceptiongroup==1.1.1
filelock==3.12.0
iniconfig==2.0.0
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.1
pdf2image==1.16.3
Pillow==9.5.0
platformdirs==3.5.0
pluggy==1.0.0
pytesseract==0.3.10
pytest==7.3.1
tomli==2.0.1
tqdm==4.65.0
virtualenv==20.23.0
